# 5b. Texte analysieren

In [1]:
import pathlib

import nltk
import pandas as pd
from reader import fairytale_corpus_reader

DATA_DIR = pathlib.Path().cwd().parent.joinpath("data")
PROC_DATA_DIR = DATA_DIR.joinpath("processed")

In [2]:
# We create a nltk.Text object, that contains all fairytales
tokens = [token.lower() for token in fairytale_corpus_reader.words()]
grimm_text = nltk.Text(tokens)

## Übung 1

a.) Füge der Liste `animals` weitere Tiere hinzu und vergleiche die Häufigkeiten.
Welches Tier tritt häufiger auf als Hund, Katze und Esel?

oder

b.) Erstelle eine neue Liste und zähle andere Wörter (z.B. Berufe, Farben, Zahlen) im Märchenkorpus.

In [3]:
animals = sorted(["wolf", "pferd", "esel", "hund", "katze"])

In [4]:
all_counts = []
for fairytale in fairytale_corpus_reader.fileids():
    tokens = [token.lower() for token in fairytale_corpus_reader.words(fairytale)]
    text = nltk.Text(tokens)
    vocab = text.vocab()
    counts = [vocab[animal] for animal in animals]
    all_counts.append(counts)

fairytales_animals_counts = pd.DataFrame(all_counts, columns=animals)
fairytales_animals_counts.insert(0, "title", fairytale_corpus_reader.fileids())
fairytales_animals_counts.head()

,title,esel,hund,katze,pferd,wolf
0,grimm_Das_kluge_Grethel_395-397.txt,0,0,0,0,0
1,grimm_allerleirauh_353-359.txt,0,0,0,0,0
2,grimm_aschenputtel_119-126.txt,0,0,0,5,0
3,grimm_bruder_lustig_402-413.txt,0,0,0,0,0
4,grimm_bruederchen_und_schwesterchen__057-064.txt,0,0,0,1,3

In [5]:
fairytales_animals_counts[animals].sum().sort_values(ascending=False)

pferd    138
wolf     127
katze     82
hund      66
esel      51
dtype: int64

In [6]:
fairytales_animals_counts.describe()

             esel        hund       katze       pferd        wolf
count  209.000000  209.000000  209.000000  209.000000  209.000000
mean     0.244019    0.315789    0.392344    0.660287    0.607656
std      1.519987    1.405959    2.127914    1.981744    2.812940
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000
max     16.000000   13.000000   22.000000   16.000000   18.000000

In [7]:
# store counts table on disk
filename = PROC_DATA_DIR.joinpath("fairytales-animals-counts-v2.tsv")
fairytales_animals_counts.to_csv(filename, sep="\t", index=False)

## Übung 2

a.) Teste die Konkordanz-Methode und probiere und ein paar beispielhafte Suchbegriffe aus.

Es kann ein einzelner Suchbegriff als String oder eine Liste von Strings als Argument übergeben werden.

b.) Was bewirken die optionalen Argument `width=79` und `lines=25`?

In [8]:
# Explore the fairytales using the nltk.Text object's concordance method

# change the query to a string of your choice
query = "wolf"
grimm_text.concordance(query, lines=5)

Displaying 5 of 127 matches:
rach „ wer aus mir trinkt , wird ein wolf : wer aus mir trinkt , wird ein wolf
wolf : wer aus mir trinkt , wird ein wolf .“ da rief das schwesterchen „ brüde
h , trink nicht , sonst wirst du ein wolf und frissest mich .“ das brüderchen
n , und zwei tauben zerrupften einen wolf , zwei kinder die wurfen zwei zickle
am ein neues unglück . ein hungriger wolf lief heran und verschlang den ganzen

In [9]:
query = ["es", "war", "einmal"]
grimm_text.concordance(query, lines=5)

Displaying 5 of 66 matches:
eimbrächte . 65 . allerleirauh . es war einmal ein könig , der hatte eine frau
 gestraft . 81 . bruder lustig . es war einmal ein großer krieg , und als der k
r ende . 116 . das blaue licht . es war einmal ein soldat , der hatte dem könig
 . 117 . das eigensinnige kind . es war einmal ein kind eigensinnig und that ni
ann .“ 152 . das hirtenbüblein . es war einmal ein hirtenbübchen , das war wege

In [10]:
import session_info

session_info.show()