# 5b. Texte analysieren

In [1]:
import pathlib

import nltk
import pandas as pd

# prepare paths
DATA_DIR = pathlib.Path().cwd().parent.joinpath("data")
PROC_DATA_DIR = DATA_DIR.joinpath("processed")

# Prepare corpus reader
CORPUS_DIR = DATA_DIR.joinpath("corpus").joinpath("bruder-grimm_1857")
GERMAN_TOKENIZER = nltk.data.load("nltk:tokenizers/punkt/german.pickle")
fairytale_corpus_reader = nltk.corpus.PlaintextCorpusReader(
    root=str(CORPUS_DIR),
    fileids="[\w+-]*\.txt",
    sent_tokenizer=GERMAN_TOKENIZER,
)

In [2]:
# We create a nltk.Text object, that contains all fairytales
tokens = [token.lower() for token in fairytale_corpus_reader.words()]
grimm_text = nltk.Text(tokens)

## Übung 1

a.) Füge der Liste `animals` weitere Tiere hinzu und vergleiche die Häufigkeiten.
Welches Tier tritt häufiger auf als Hund, Katze und Esel?

oder

b.) Erstelle eine neue Liste und zähle andere Wörter (z.B. Berufe, Farben, Zahlen) im Märchenkorpus.

In [3]:
animals = sorted(["wolf", "pferd", "esel", "hund", "katze"])

In [4]:
all_counts = []
for fairytale in fairytale_corpus_reader.fileids():
    tokens = [token.lower() for token in fairytale_corpus_reader.words(fairytale)]
    text = nltk.Text(tokens)
    vocab = text.vocab()
    counts = [vocab[animal] for animal in animals]
    all_counts.append(counts)

fairytales_animals_counts = pd.DataFrame(all_counts, columns=animals)
fairytales_animals_counts.insert(0, "title", fairytale_corpus_reader.fileids())
fairytales_animals_counts.head()

                                     title  esel  hund  katze  pferd  wolf
0                         allerleirauh.txt     0     0      0      0     0
1  armuth-und-demuth-fuhren-zum-himmel.txt     0     0      0      0     0
2                         aschenbuttel.txt     0     0      0      5     0
3                        bruder-lustig.txt     0     0      0      0     0
4         bruderchen-und-schwesterchen.txt     0     0      0      1     3

In [5]:
fairytales_animals_counts[animals].sum().sort_values(ascending=False)

pferd    137
wolf     124
katze     80
hund      65
esel      50
dtype: int64

In [6]:
fairytales_animals_counts.describe()

             esel        hund       katze       pferd        wolf
count  210.000000  210.000000  210.000000  210.000000  210.000000
mean     0.238095    0.309524    0.380952    0.652381    0.590476
std      1.512461    1.360553    2.060710    1.951105    2.729233
min      0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.000000    0.000000    0.000000
max     16.000000   12.000000   21.000000   16.000000   18.000000

In [7]:
# store counts table on disk
filename = PROC_DATA_DIR.joinpath("fairytales-animals-counts-v2.tsv")
fairytales_animals_counts.to_csv(filename, sep="\t", index=False)

## Übung 2

a.) Teste die Konkordanz-Methode und probiere und ein paar beispielhafte Suchbegriffe aus.

Es kann ein einzelner Suchbegriff als String oder eine Liste von Strings als Argument übergeben werden.

b.) Was bewirken die optionalen Argument `width=79` und `lines=25`?

In [8]:
# Explore the fairytales using the nltk.Text object's concordance method

# change the query to a string of your choice
query = "wolf"
grimm_text.concordance(query, lines=5)

Displaying 5 of 124 matches:
rach „ wer aus mir trinkt , wird ein wolf : wer aus mir trinkt , wird ein wolf
wolf : wer aus mir trinkt , wird ein wolf .“ da rief das schwesterchen „ brüde
h , trink nicht , sonst wirst du ein wolf und frissest mich .“ das brüderchen
n , und zwei tauben zerrupften einen wolf , zwei kinder die wurfen zwei zickle
am ein neues unglück . ein hungriger wolf lief heran und verschlang den ganzen

In [9]:
query = ["es", "war", "einmal"]
grimm_text.concordance(query, lines=5)

Displaying 5 of 67 matches:
 es war einmal ein könig , der hatte eine frau
bten vergnügt bis an ihren tod . es war einmal ein königssohn , der gieng hinau
ndheit auf ihr lebtag gestraft . es war einmal ein großer krieg , und als der k
n tag legte sie sich und starb . es war einmal ein soldat , der hatte dem könig
damit die lügen hinaus fliegen . es war einmal ein kind eigensinnig und that ni

In [10]:
import session_info

session_info.show()